<div class="panel panel-default">
	<div class="panel-heading"><h1>Editing Album</h1></div>
	<div class="panel-body"><%= render 'form' %></div>
</div>

<hr>

<%= link_to 'Show', @album, {:class => 'btn btn-default'}  %> |
<%= link_to 'Back', albums_path, {:class => 'btn btn-default'} %>
